<div class="modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="service.formData.userId">Cập nhật người dùng</h5>
                <h5 class="modal-title" *ngIf="!service.formData.userId">Thêm mới người dùng</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form autocomplete="off" novalidate #form="ngForm" (submit)="onSubmit(form)">
                <div class="modal-body">      
                    <input type="hidden" name="userId" [value]="service.formData.userId" />

                    <div class="form-group">
                        <label>Tên đăng nhập</label>
                        <input type="text" class="form-control" placeholder="ex. anvuongvan" required
                        name="userName" #userName="ngModel" [(ngModel)]="service.formData.userName" 
                        [class.invalid]="userName.invalid && userName.touched" #autoFocus />
                    </div>
                    
                    <div class="form-group" *ngIf="service.formData.userId">
                        <label>Chức vụ</label>
                        <select class="form-control" #positionId="ngModel" 
                            name="positionId" [(ngModel)]="service.formData.positionId">
                            <option *ngFor="let position of positions" value="{{ position.positionId }}">
                                {{ position.positionName }}
                            </option>                         
                        </select>
                    </div>        
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Hủy bỏ</button>
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>