/* You can add global styles to this file, and also import other style files */
body { 
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0073e6;
}

.btn-secondary:focus, .btn-success:focus {
    box-shadow: none;
}

.invalid {
    border-color: red;
}