<div class="m-modal">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div class="m-modal-login">
        <div class="login-header">
            <div class="login-form-header"></div>
        </div>

        <div class="login-content">
            <form #formLogin="ngForm" autocomplete="off" (submit)="onSubmit(formLogin)">
                <div class="login-form-content">
                    <div class="wrap-input">
                        <input type="text" name="UserName" #UserName="ngModel"
                        [(ngModel)]="formModel.UserName" required 
                        class="input-control" placeholder="Tên đăng nhập" />
                    </div>
                    <div class="wrap-input">
                        <input type="password" name="Password" #Password="ngModel"
                        [(ngModel)]="formModel.Password" required
                        class="input-control" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="text-right">
                    <span class="forgot-password">Quên mật khẩu?</span>
                </div>
                <button type="submit" [disabled]="formLogin.invalid" class="login-btn">Đăng nhập</button>
            </form>

            <div class="register-block">
                <span>Chưa có tài khoản?</span>
                <a class="register-btn">Đăng ký</a>
            </div>
        </div>
    </div>
</div>